$body-bg-color: #14131a;
$bg-white-color: #fff;
$primary-color: #8D0019;
$link-more-color: #E44839;


$txt-white-color: #fff;
$txt-gray-color: rgba(255, 255, 255, 0.8);
$txt-primary-color: #8D0019;